html {
    font-size: 19px;
}

body {
    background-color: blanchedalmond;
    font-family: sans-serif;
    margin: 0;
}

nav {
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.onee {
    /*a in the nav*/
    color: rgb(4, 121, 121);
}

.twoo {
    /*a in the nav*/
    color: brown;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 0;
}

main ol {
    list-style-type: none;
}

main p,
main ul {
    padding-left: 350px;
}

main a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    background-color: green;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 30px;
    margin: 0;
}

div {
    text-align: center;
}

span {
    padding: 40px;
}

/* #aqua {
    for h1 of subpage1
    background-color: rgb(11, 33, 229);
}

#terr {
    for h1 of subpage2
    background-color: burlywood;
} */



main img {
    /*for the main picture in index.html*/
    width: 1000px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border-style: inset;
    border-width: 3px;
    border-color: burlywood;
}

div img {
    /*for pictures in subpages.html*/
    width: 720px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border-style: inset;
    border-width: 3px;
    border-color: burlywood;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}